.custom-export-button {
  border: none;
  background: none;
  font-weight: 500;
  color: #003657;
  display: flex;
  align-items: center;
  /* cursor: pointer; */
  font-size: 15px;
  box-shadow: none;
  transform: none;
}

.export-icon {
  width: 50px;
  height: 55px;
  margin-right: 6px;
}
