<div class="tabs-container">
    <!-- Main Tabs Header -->
    <header class="main-tabs-header">
      <h2>Investment Portfolio Management</h2>
      <ul class="tabs">
        <li [class.active]="activeTab === 'admin-dashboard'" (click)="switchTab('admin-dashboard')">Home</li>
        <li [class.active]="activeTab === 'approve-brokers'" (click)="switchTab('approve-brokers')">Approve Brokers</li>
        <li [class.active]="activeTab === 'add-dividends'" (click)="switchTab('add-dividends')">Add Dividends</li>
       
      </ul>
    </header>
</div>
