

.full-width-toolbar {
  width: 100%;
  background-color: #003657 !important;
  color: white;
}

.nav-text {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* Controls spacing between items */
  font-weight: 500;
  font-size: 16px;
}

.nav-text a {
  color: white;
  text-decoration: none;
  padding: 5px 13px;
  cursor: pointer;
}

.nav-text a:hover,.nav-text a.active-tab {
  background-color: #00588a;
  border-radius: 0px;
}


/* 
.spacer {
  flex: 1 1 auto;
} */

.profile{
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  align-items: center;
  width: 100%;
}


