<!-- Header bar containing Add Portfolio and Import button -->
<div class="header-bar">
  <button class="import-btn" (click)="csvInput.click()">Import</button>
  <input #csvInput type="file" accept=".csv" (change)="importCSV($event)" hidden />
</div>

<!-- Portfolio Form Container -->
<div class="portfolio-container">
  <form (ngSubmit)="addPortfolio()">
    <!-- Portfolio Name -->
    <div class="form-group">
      <label for="portfolioName">Portfolio Name:</label>
      <input 
        type="text" 
        id="portfolioName" 
        [(ngModel)]="portfolioName" 
        name="portfolioName" 
        required
      />
    </div>

    <!-- Portfolio Type -->
    <div>
      <label for="portfolioType">Portfolio Type:</label>
      <select id="portfolioType" [(ngModel)]="portfolioType" name="portfolioType" required>
        <option value="" disabled selected>Select a Portfolio Type</option>
        <option *ngFor="let portfolioType of portfolioTypes" [value]="portfolioType.PortfolioType">
          {{ portfolioType.PortfolioType }}
        </option>
      </select>
    </div>
    <br />

    <div class="button-group">
      <button type="submit">Add Portfolio</button>
      <button type="button" class="cancel-btn" (click)="goBack()">Cancel</button>
    </div>
  </form>
</div>
