/* Container to hold title and tabs on one line */
.payments-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f8ff;
    padding: 15px 25px;
    border-bottom: 1px solid #ddd;
    margin: 30px auto;
    max-width: 1250px;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
  border-bottom: 1px solid #ddd; /* Optional: Add a bottom border for separation */
  }
  
  /* Heading style */
  /* .payments-header h3 {
    margin: 0;
    font-size: 25px;
    font-weight: bold;
    color: #002147; 
    border-bottom: 2px solid #002147;
    padding-bottom: 5px;
    font-family: 'Arial', sans-serif;
  } */
