.table-and-pagination-wrapper {
  width: 80%;        
  max-width: 80%;    
  display: flex;
  flex-direction:column;
  align-items: stretch;
  justify-content: center;
  margin: 0 auto; 
}
.table-scroll-wrapper {
  overflow-x:auto !important;
  width: 100% !important;
}

::ng-deep .mat-mdc-table {
  table-layout: fixed !important;
  width: 100% !important;
}

/* Reduce column widths */
::ng-deep th.mat-mdc-header-cell:nth-child(1),
::ng-deep td.mat-mdc-cell:nth-child(1) {
  width: 20px !important; /* Checkbox column */
}

::ng-deep th.mat-mdc-header-cell:nth-child(2),
::ng-deep td.mat-mdc-cell:nth-child(2) {
  width: 100px !important; /* Portfolio Name */
}

::ng-deep th.mat-mdc-header-cell:nth-child(3),
::ng-deep td.mat-mdc-cell:nth-child(3) {
  width: 70px !important; /* Portfolio Type */
}

::ng-deep th.mat-mdc-header-cell:nth-child(4),
::ng-deep td.mat-mdc-cell:nth-child(4) {
  width: 100px !important; /* Total Dividend Amount */
}

/* Remove scrollbar container constraints */


/* Optional: avoid wrapping issues */
::ng-deep .mat-mdc-cell, 
::ng-deep .mat-mdc-header-cell {
  white-space: nowrap;
  overflow: auto;
  text-overflow: ellipsis;
}

