<!-- Tab Content
<div class="tab-content">
  <ng-container *ngIf="isActive('dashboard')">
    <h2>Welcome to the Dashboard</h2>
    <p>This is the Dashboard content.</p>
  </ng-container>

  <ng-container *ngIf="isActive('portfolio')">
    <app-portfolio></app-portfolio>
  </ng-container>

  <ng-container *ngIf="isActive('asset')">
    <app-asset></app-asset>
  </ng-container>

  <ng-container *ngIf="isActive('dividend')">
    <app-dividend></app-dividend>
  </ng-container>
</div> -->
<h2>Welcome to the Dashboard</h2>
    <p>This is the Dashboard content.</p>


